{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}Change password{% endblock %}

{% block form %}
    <div class="container mt-5" style="margin-bottom: 100px">
        {% for error in form.non_field_errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <form method="post" action="">
            {% csrf_token %}
            <div class="checkout__input">
                {% for error in form.old_password.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                <p>Old Password<span>*</span></p>
                <input type="text" name="old_password" placeholder="Old password"
                       class="border p-3 w-100 my-2">

            </div>
            <div class="checkout__input">
                {% for error in form.new_password1.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                <p class="pt-2">New Password<span>*</span></p>
                <input type="text" name="new_password1" placeholder="New password1"
                       class="border p-3 w-100 my-2">

            </div>
            <div class="checkout__input">
                {% for error in form.new_password2.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                <p class="pt-2">Confirm New Password<span>*</span></p>
                <input type="text" name="new_password2" placeholder="New password2"
                       class="border p-3 w-100 my-2">
            </div>
            <button class="btn btn-success site-btn float-right mt-3">Save</button>
            <a href="{% url 'profile:home' %}">
                <button type="button" class="btn btn-info  site-btn float-right mr-3 mt-3">Back</button>
            </a>
        </form>
    </div>
{% endblock %}
