{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block form %}
    <div class="container mt-5">
        <p class="text-center">
            {% blocktrans %}
                Forgot your password? Enter your email in the form below and we'll send you instructions for creating a
                new one.
            {% endblocktrans %}
        </p>
        <form method="post" class="text-center">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="checkout__input mb-4">
                <input style="color: white" class="bg-primary form-control" type="submit"
                       value="{% trans 'Reset password' %}"/>
            </div>
        </form>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
